/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --graysgray-4: rgba(209, 209, 214, 1);
  --grayswhite: rgba(255, 255, 255, 1);
  --m-3black: rgba(0, 0, 0, 1);
  --m-3white: rgba(255, 255, 255, 1);
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --graysgray-4: rgba(209, 209, 214, 1);
  --grayswhite: rgba(255, 255, 255, 1);
  --m-3black: rgba(0, 0, 0, 1);
  --m-3white: rgba(255, 255, 255, 1);
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --graysgray-4: rgba(209, 209, 214, 1);
  --grayswhite: rgba(255, 255, 255, 1);
  --m-3black: rgba(0, 0, 0, 1);
  --m-3white: rgba(255, 255, 255, 1);
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
}

/* The end of the injected content. */

:root {
  --graysblack: rgba(0, 0, 0, 1);
  --graysgray-4: rgba(209, 209, 214, 1);
  --grayswhite: rgba(255, 255, 255, 1);
  --m-3black: rgba(0, 0, 0, 1);
  --m-3white: rgba(255, 255, 255, 1);
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-size: 14px;
  --m3-label-large-font-style: normal;
  --m3-label-large-font-weight: 500;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
}
